/* Remove default browser spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Entire website */
body{

    font-family: 'Times New Roman', Times, serif;
    background-color: #0f172a;
    color: White;
}
/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;

    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: #0f172a;
    box-shadow:0 2px 10px rgba(0,0,0,0.3);
}
/* Navigation menu */
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
nav a{
    color:white;
    text-decoration:none;
}
nav a.active{
    color:#38bdf8;
}

nav a:hover{
    color:#38bdf8;
}
/* Hero Section */
.hero{
    min-height:70vh;
    padding:20px;
}
/* Main Content */
.hero-content{
    text-align:center;
    margin-top:80px;
}
/* Main Heading */
.hero-content h1{
    font-size:60px;
    max-width:900px;
    margin:auto;
}
/* Description */
.hero-content p{
    margin-top:20px;
    font-size:20px;
    color:#cbd5e1;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}
/* Buttons */
.buttons{
    margin-top:30px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor: pointer;
    margin:10px;
    font-size:16px;
}
/* Primary Button */
button{
    background-color:#3b82f6;
    color:white;
}
/* Secondary Button */
.outline{
    background:transparent;
    border:1px solid white;
}
/* Metrics Section */
.metrics{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding:40px 80px;
    flex-wrap:wrap;
}
/* Individual Metric Card */
.card{
    background-color: #1e293b;
    width: 230px;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    border:1px solid #334155;
}
/* Metric Number */
.card h3{
    font-size:36px;
    color:#38bdf8;
    margin-bottom:10px;
}
/* Metric Label */
.card p{
    color:#cbd5e1;
}
/* Card Hover Effect */
.card:hover{
    transform:translateY(-8px);
    transition:0.3s;
    border-color:#38bdf8;
}
/* workflow */
.workflow{
    padding: 60px 80px;
    text-align: center;

}
.workflow h2{
    font-size: 40px;
    margin: 15px;
}

.workflow-intro{
    color:#cbd5e1;
    max-width:700px;
    margin:0 auto 40px auto;
    font-size:18px;
}
.workflow-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.workflow-card{
    background-color:#020617;
    border:1px solid #334155;
    padding:20px 25px;
    border-radius:12px;
    color:#38bdf8;
    font-weight:bold;
}
.about{
    padding:60px 80px;
    max-width:1100px;
    margin:auto;
}
.about h2{
    font-size:36px;
    margin-bottom:15px;
}
.about p{
    color:#cbd5e1;
    font-size:18px;
    line-height:1.6;
}
/* Business Problem */
.problem{
    padding: 80px;
    text-align: center;
}
.problem h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.problem-intro{
    max-width: 800px;
    margin: auto;
    color:#cbd5e1;
    font-size: 18px;
    line-height: 1.6;
}
.problem-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:50px;
}

.problem-card{
    width:250px;
    background-color:#1e293b;
    padding:25px;
    border-radius:15px;
    border:1px solid #334155;
}
.problem-card h3{
    color:#38bdf8;
    margin-bottom:15px;
}
.problem-card p{
    color:#cbd5e1;
    line-height:1.5;
}
.problem-card:hover{
    transform:translateY(-10px);
    transition:0.3s;
    border-color:#38bdf8;
}
/* tech-stack */
.tech-stack{
    padding: 80px;
    text-align: center;
}
.tech-stack h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.tech-intro{
    max-width: 750px;
    margin: auto;
    color: #cbd5e1;
    font-size: 18px;
    line-height: 1.6;
}
.tech-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 45px;
}
.tech-card{
    background-color:#020617;
    border:1px solid #334155;
    color:#38bdf8;
    padding:18px 45px;
    border-radius:30px;
    font-weight:bold;
}
.tech-card:hover{
    background-color:#38bdf8;
    color:#020617;
    transition:0.3s;
}
/* Features.html - features */
.features{
    padding:80px;
    text-align:center;
}
.features h2{
    font-size:40px;
    margin-bottom:20px;
}
.features-intro{
    max-width:800px;
    margin:auto;
    color:#cbd5e1;
    font-size:18px;
    line-height:1.6;
}
.features-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:25px;
    max-width:1100px;
    margin:45px auto 0 auto;
  
}
.feature-card{
    background:linear-gradient(145deg, #1e293b, #020617);
    border:1px solid #334155;
    padding: 30px;
    border-radius:18px;
    text-align:left;
}
.feature-card h3{
    color:#38bdf8;
    margin-bottom:15px;
}
.feature-card p{
    color:#cbd5e1;
    line-height: 1.6;
}
.feature-card:hover{
    transform:translateY(-8px);
    transition:0.3s;
    border-color:#38bdf8;
}
/* Dashboard-page*/
.dashboard-page{
    padding:80px;
    text-align:center;
}
.dashboard-page h1{
    font-size:48px;
    margin-bottom:20px;
}
.dashboard-page > p{
    max-width:850px;
    margin:auto;
    color:#cbd5e1;
    font-size:18px;
    line-height:1.6;
}
.dashboard-preview{
    margin-top:60px;
}
.dashboard-preview h2{
    font-size:36px;
    margin-bottom:35px;
}
.preview-container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:25px;
    max-width:1100px;
    margin:auto;
}
.preview-card{
    background-color:#020617;
    border:1px solid #334155;
    border-radius:16px;
    padding:35px;
    color:#38bdf8;
    font-weight:bold;
}
.preview-card:hover{
    transform:translateY(-8px);
    transition:0.3s;
    border-color:#38bdf8;
}
/* roadmap - page */
.roadmap-page{
    padding: 80px;
    text-align: center;
}
.roadmap-page h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.roadmap-page p{
    max-width:850px;
    margin:auto;
    color:#cbd5e1;
    font-size:18px;
    line-height:1.6;
}
.roadmap-container{
    max-width:700px;
    margin:50px auto;
}
.roadmap-item{
    background-color:#1e293b;
    border:1px solid 
    #334155;
    padding:20px;
    margin-bottom:15px;
    border-radius:12px;
    text-align:left;
}
.completed{
    border-color:#38bdf8;
    color:#38bdf8;
}
/* contact - page */
.contact-page{
    padding:80px;
    text-align:center;
}

.contact-page h1{
    font-size:48px;
    margin-bottom:40px;
}

.analyst-card{
    max-width:900px;
    margin:auto;
    background-color:#1e293b;
    border:1px solid #334155;
    padding:40px;
    border-radius:18px;
}

.analyst-card h2{
    color:#38bdf8;
    margin-bottom:20px;
}

.analyst-card p{
    color:#cbd5e1;
    line-height:1.8;
    margin-bottom:20px;
}

.skills-list{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:15px;
    margin-top:30px;
}

.skills-list span{
    background:linear-gradient(145deg, #020617, #1e293b);
    border:1px solid #334155;
    padding:18px;
    border-radius:14px;
    color:#38bdf8;
    font-weight: bold;
    text-align: center;
}
.skills-list span:hover{
    transform:translateY(-6px);
    transition:0.3s;
    border-color:#38bdf8;
}
.social-links{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.social-links a{
    text-decoration:none;
    color:white;
    background-color:#3b82f6;
    padding:12px 25px;
    border-radius:8px;
}

.social-links a:hover{
    background-color:#2563eb;
}
/* footer */
footer{
    background-color:#020617;
    border-top:1px solid #334155;
    text-align:center;
    padding:25px;
    color:#cbd5e1;
    margin-top:60px;
}

footer p{
    margin:6px 0;
}
.footer-links{
    margin-top:10px;
}

.footer-links a{
    color:#38bdf8;
    text-decoration:none;
    margin:0 15px;
}

.footer-links a:hover{
    color:white;
}
@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:15px;
        padding:20px;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
        gap:12px;
    }

    .hero-content h1{
        font-size:36px;
    }

    .hero-content p{
        font-size:16px;
    }

    .metrics,
    .problem-container,
    .workflow-container{
        flex-direction:column;
        align-items:center;
    }

    .features-container,
    .preview-container{
        grid-template-columns:1fr;
    }

    .card,
    .problem-card{
        width:90%;
    }

    .about,
    .problem,
    .features,
    .dashboard-page,
    .roadmap-page,
    .contact-page{
        padding:40px 20px;
    }
}